@if(miTablero){
<div class="w-100 bg-black p-3 d-flex">
    <h5 class="text-white mb-0">{{miTablero.titulo}} by {{miTablero.aliasCreador}}</h5>
    @if(esEspectador){
    <small class="text-warning ms-2">• Modo Espectador</small>
    }
    <div class="ms-auto d-flex align-items-center gap-2">
        @if(miTablero.aliasCreador === aliasLogueado){
        <span class="text-white ms-auto" data-bs-toggle="modal" data-bs-target="#agregarColaborador" type="button"
            (click)="abrirModalAgregar()">[+]</span>
        }

        @for(colaborador of colaboradoresTablero.slice(0,maxColaboradoresVisibles); track colaborador.aliasUsuario){

        <div class="avatar-contenedor dropdown" [ngClass]="{'creador': colaborador.tipoRelacion === 0, 'contribuidor': colaborador.tipoRelacion === 1, 
            'espectador': colaborador.tipoRelacion === 2 }">
            <img [src]="rutaImagenes + colaborador.imagen" [alt]="colaborador.aliasUsuario"
                [title]="colaborador.aliasUsuario + ' - ' + getRol(colaborador.tipoRelacion)" type="button"
                (click)="abrirMenuUsuario(colaborador)" class="rounded-circle dropdown-toggle" width="32" height="32"
                data-bs-toggle="dropdown" data-bs-target="#menuUsuario">

            <div class="dropdown-menu" style="position: fixed;" id="menuUsuario">
                <li><button class="dropdown-item" (click)="verPerfil(usuarioSeleccionado!.aliasUsuario)">Ver
                        Perfil</button></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#agregarColaborador"
                        type="button" (click)="abrirModalEditar()">Cambiar permisos</button></li>
                <li><button class="dropdown-item text-danger" type="button" (click)="eliminarMiembro()">Quitar del
                        tablero</button></li>
            </div>

        </div>

        }
        @if(colaboradoresTablero.length > maxColaboradoresVisibles){
        <div class="avatar-extra"
            [title]="(colaboradoresTablero.length - maxColaboradoresVisibles) + ' colaboradores más'">
            +{{colaboradoresTablero.length - maxColaboradoresVisibles}}
        </div>
        }
    </div>
</div>
}@else{
<div class="w-100 bg-black p-3 text-center">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>
}
<div class="board-wrapper">
    <div class="board">
        <div class="row columns-row">
            @for (col of columnas; track col.id){
            <div class="col-md-3 column" #columnRef (dragover)="onDragOver($event, postitsContainer)"
                (drop)="onDrop($event, col.id)">
                <h5 class="column-title" type="button" id="0" [style.cursor]="esEspectador ? 'default' : 'pointer'"
                    (click)="crearTarea(col.id)">+ {{col.titulo}}</h5>

                <div class="postits-container" #postitsContainer>
                    @for (tarea of col.tareas; track tarea.idTarea) {
                    <div class="postit mt-3 animate__animated animate__fadeIn" [ngClass]="{
                            'red': tarea.prioridad === 1,
                            'yellow': tarea.prioridad === 2,
                            'green': tarea.prioridad === 3,                            
                            'cyan': tarea.prioridad === 4
                        }" type="button" data-bs-toggle="offcanvas" data-bs-target="#post-it-info"
                        aria-controls="post-it-info" [draggable]="!esEspectador"
                        (dragstart)="!esEspectador && onDragStart($event, tarea.idTarea)"
                        (dragend)="!esEspectador && onDragEnd($event)" (click)="seleccionarTarea(tarea, col.id)"
                        [style.cursor]="esEspectador ? 'pointer' : 'grab'">

                        @if (tieneAsignacionesVisibles(tarea) && tarea.asignaciones) {
                        <div class="mb-3">
                            <div class="postit-usuarios">
                                @for(asignado of colaboradoresTablero; track asignado.aliasUsuario){

                                <!-- 1. Validamos si el alias de este colaborador está incluido en las asignaciones de la tarea -->
                                @if (tarea.asignaciones.includes(asignado.aliasUsuario)) {
                                <div class="avatar-contenedor" [ngClass]="{
                                            'creador': asignado.tipoRelacion === 0, 
                                            'contribuidor': asignado.tipoRelacion === 1, 
                                            'espectador': asignado.tipoRelacion === 2 
                                        }">
                                    <img [src]="rutaImagenes + asignado.imagen" [alt]="asignado.aliasUsuario"
                                        [title]="asignado.aliasUsuario + ' - ' + getRol(asignado.tipoRelacion)"
                                        class="rounded-circle " width="32" height="32">
                                </div>
                                }

                                }
                            </div>
                        </div>

                        }
                        <p class="fw-bold float-start largoNombreTarea">{{tarea.nombre}}</p>

                        <div>
                            @if (tarea.prioridad === 1) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-danger" style="font-size: 9px; font-weight: bold;">
                                    Prioridad Alta</div>
                            </div>
                            }
                            @if (tarea.prioridad === 2) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-warning"
                                    style="font-size: 9px; font-weight: bold;">Prioridad Media</div>
                            </div>
                            }
                            @if (tarea.prioridad === 3) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-success"
                                    style="font-size: 9px; font-weight: bold;">Prioridad Baja</div>
                            </div>
                            }
                            @if (tarea.prioridad === 4) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-info" style="font-size: 9px; font-weight: bold;">
                                    Prioridad Mínima</div>
                            </div>
                            }
                        </div>

                        <br style="clear: both;">

                        <p>{{tarea.descripcion}}</p>

                        @if (col.id !== 3) {
                        <div class="d-flex mt-2">
                            <div class="ms-auto px-2 rounded-5" [ngClass]="obtenerClaseVencimiento(tarea.fechaFinal)">
                                <span style="font-size: 11px;">
                                    {{ obtenerTextoVencimiento(tarea.fechaFinal, tarea.fechaInicio) }}
                                </span>
                            </div>
                        </div>
                        }@else {
                        <div class="d-flex mt-2">

                            @switch (tarea.prioridad) {
                            @case (1) {
                            <div class="ms-auto px-2 rounded-5 bg-danger-subtle text-danger">
                                <span style="font-size: 11px;">
                                    <i>Tarea Realizada</i>
                                </span>
                            </div>
                            }
                            @case (2) {
                            <div class="ms-auto px-2 rounded-5 bg-warning-subtle text-warning">
                                <span style="font-size: 11px;">
                                    <i>Tarea Realizada</i>
                                </span>
                            </div>
                            }
                            @case (3) {
                            <div class="ms-auto px-2 rounded-5 bg-success-subtle text-success">
                                <span style="font-size: 11px;">
                                    <i>Tarea Realizada</i>
                                </span>
                            </div>
                            }
                            @case (4) {
                            <div class="ms-auto px-2 rounded-5 bg-light text-info">
                                <span style="font-size: 11px;">
                                    <i>Tarea Realizada</i>
                                </span>
                            </div>
                            }
                            }
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="post-it-info" aria-labelledby="[id Tarea]"
    style="--bs-offcanvas-width: 600px;">
    <form [formGroup]="formularioTarea" class="d-flex flex-column h-100">
        <div class="offcanvas-header">
            <input type="text" formControlName="nombre" [readOnly]="esEspectador" class="form-control form-control-lg"
                [class.is-invalid]="formularioTarea.get('nombre')?.invalid && formularioTarea.get('nombre')?.touched">
            @if(formularioTarea.get('nombre')?.invalid && formularioTarea.get('nombre')?.touched){
            <div class="invalid-feedback">
                @if(formularioTarea.get('nombre')?.errors?.['required']) {
                El nombre de la tarea es obligatorio.
                }
                @if(formularioTarea.get('nombre')?.errors?.['maxlength']) {
                Máximo de caracteres debe ser de 50.
                }
            </div>
            }
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                id="btnCerrarOffcanvas"></button>
        </div>
        <hr class="m-0">

        <div class="offcanvas-body flex-grow-1">
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion:</label>
                <textarea class="form-control" rows="5" [readOnly]="esEspectador" formControlName="descripcion"
                    [class.is-invalid]="formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched"></textarea>
                @if(formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched){
                <div class="invalid-feedback">
                    @if(formularioTarea.get('descripcion')?.errors?.['maxlength']) {
                    Máximo de caracteres debe ser de 300.
                    }
                </div>
                }
            </div>

            <div class="float-start">
                <p>Prioridad:</p>
                <div class="btn-group" [class.pe-none]="esEspectador" role="group"
                    aria-label="Basic mixed styles example">
                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio1"
                        value="1" autocomplete="off">
                    <label class="btn btn-danger" for="btnradio1">1</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio2"
                        value="2" autocomplete="off">
                    <label class="btn btn-warning text-white" for="btnradio2">2</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio3"
                        value="3" autocomplete="off">
                    <label class="btn btn-success" for="btnradio3">3</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio4"
                        value="4" autocomplete="off">
                    <label class="btn btn-primary" for="btnradio4">4</label>

                </div>

                @if (this.formularioTarea.value.prioridad == 1) {
                <div class="mt-3">
                    <span>Actual: <span class="p-2 rounded-5 bg-danger ms-2 text-white"
                            style="font-size: 11px; font-weight: bold;">Alta</span></span>
                </div>
                }
                @if (this.formularioTarea.value.prioridad == 2) {
                <div class="mt-3">
                    <span>Actual: <span class="p-2 rounded-5 bg-warning ms-2 text-white"
                            style="font-size: 11px; font-weight: bold;">Media</span></span>
                </div>
                }
                @if (this.formularioTarea.value.prioridad == 3) {
                <div class="mt-3">
                    <span>Actual: <span class="p-2 rounded-5 bg-success ms-2 text-white"
                            style="font-size: 11px; font-weight: bold;">Baja</span></span>
                </div>
                }
                @if (this.formularioTarea.value.prioridad == 4) {
                <div class="mt-3">
                    <span>Actual: <span class="p-2 rounded-5 bg-info ms-2 text-white"
                            style="font-size: 11px; font-weight: bold;">Minima</span></span>
                </div>
                }

                <div class="mt-5 float-start">
                    <p class="mb-2">Miembros del tablero:</p>

                    <div class="d-flex flex-wrap gap-1" style="max-width: 180px;">
                        @for(asignado of colaboradoresTablero; track asignado.aliasUsuario){

                        <div class="avatar-contenedor dropdown"
                            [ngClass]="{'creador': asignado.tipoRelacion === 0, 'contribuidor': asignado.tipoRelacion === 1, 'espectador': asignado.tipoRelacion === 2 }">
                            <img [src]="rutaImagenes + asignado.imagen" [alt]="asignado.aliasUsuario"
                                [title]="asignado.aliasUsuario + ' - ' + getRol(asignado.tipoRelacion)" type="button"
                                (click)="abrirMenuAsignacion(asignado)" class="rounded-circle dropdown-toggle"
                                width="32" height="32" data-bs-toggle="dropdown" data-bs-target="#menuAsignados">

                            @if(!esEspectador){
                            <div class="dropdown-menu" style="position: fixed;" id="menuAsignados">
                                <li><button class="dropdown-item"
                                        (click)="verPerfil(usuarioSeleccionado!.aliasUsuario)">Ver Perfil</button>
                                </li>
                                @if (!tareaSelecionada?.asignaciones?.includes(asignado.aliasUsuario)) {
                                <li><button class="dropdown-item" type="button"
                                        (click)="postAsignacion(usuarioSeleccionado!.aliasUsuario)">Asignar a la
                                        tarea</button></li>
                                }@else{
                                <li><button class="dropdown-item text-danger" type="button"
                                        (click)="deleteAsignacion(usuarioSeleccionado!.aliasUsuario)">Quitar
                                        asignacion</button></li>
                                }
                            </div>
                            }
                        </div>

                        }
                    </div>
                </div>
                </div>
                <div class="float-end me-5 col-6" [class.calendario-bloqueado]="esEspectador">
                    <p>Rango Fecha:</p>
                    <input type="text" id="calendario-siempre-abierto" name="calendario" class="form-control me-5"
                        placeholder="Selecciona una fecha">
                </div>

                <br style="clear: both;">
            </div>

            @if(!esEspectador){
            <div class="p-3 border-top mt-auto">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-outline-danger w-100"
                            (click)="confirmarBorrarTarea()">Borrar
                            Tarea</button>
                    </div>
                    <div class="col-8">
                        @if(!cargandoTarea){
                        <button type="button" class="btn btn-primary w-100" [disabled]="this.formularioTarea.invalid"
                            (click)="guardarCambiosTarea()">Guardar</button>
                        }@else{
                        <button class="btn btn-secondary text-center mt-1 w-100 fw-bold" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                            <span role="status"> Cargando...</span>
                        </button>
                        }

                    </div>
                </div>
            </div>
            }
    </form>
</div>

<div class="modal fade" id="agregarColaborador" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if(modoModal === 'agregar'){
                    Agregar Miembro al Tablero
                    } @else {
                    Modificar Permisos
                    }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="btnCerrarModal"></button>
            </div>
            <div class="modal-body">


                <form [formGroup]="formularioMiembro">
                    <div class="mb-3">
                        <label for="aliasUsuario" class="form-label">Alias</label>
                        <input type="text" class="form-control" [readOnly]="modoModal === 'editar'"
                            formControlName="aliasUsuario" [class.is-invalid]="formularioMiembro.get('aliasUsuario')?.invalid 
                        && formularioMiembro.get('aliasUsuario')?.touched">
                        @if(formularioMiembro.get('aliasUsuario')?.invalid &&
                        formularioMiembro.get('aliasUsuario')?.touched){
                        <div class="invalid-feedback">
                            @if(formularioMiembro.get('aliasUsuario')?.errors?.['required']) {
                            Necesitas el Alias para agregar un Colaborador/Espectador.
                            }
                            @if(formularioMiembro.get('aliasUsuario')?.errors?.['maxlength']) {
                            Los Alias no pueden ser de mas de 50 caracteres.
                            }
                        </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="tipoRelacion">Permiso</label>
                        <select class="form-select" formControlName="tipoRelacion">
                            <option value="1">
                                Contribuidor
                            </option>
                            <option value="2">
                                Espectador
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @if(!cargandoInvitacion){
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button class="btn btn-primary" [disabled]="formularioMiembro.invalid"
                    (click)="modoModal === 'agregar' ? agregarColaborador() : modificarPermisos()">
                    {{ modoModal === 'agregar' ? 'Agregar' : 'Guardar cambios'}}</button>
                }@else {
                <button class="btn btn-secondary text-center mt-1 w-100 fw-bold" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Cargando...</span>
                </button>
                }
            </div>

        </div>
    </div>

</div>