<style>
    .postit-usuarios {
        position: absolute;
        top: -12px;
        left: 12px;

        display: flex;
        gap: 4px;
        flex-wrap: wrap;

        z-index: 2;
    }

    .postit-usuario {
        background: wheat;
        /*No deberia tener fondo mas adelante, solo la foto del usuario*/
        padding: 0 2px;
        font-size: 13px;
        font-weight: 600;
        color: #0d6efd;
        border-radius: 4px;
    }

    .board-wrapper {
        min-height: 80lvh;
        padding: 2rem;
        background: #c69c6d;
        background-image: radial-gradient(#b88a5a 1px, transparent 1px);
        background-size: 10px 10px;
        font-family: 'Segoe UI', sans-serif;
        box-sizing: border-box;
    }

    .board {
        height: 76vh;
        background: #d2a679;
        border: 10px solid #8b5a2b;
        border-radius: 10px;
        padding: 20px;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    }

    .columns-row {
        display: flex;
        gap: 12px;
        height: 100%;
        overflow-x: auto;
    }

    .column {
        flex: 1 0 300px;
        min-width: 300px;
        min-height: 350px;
        padding: 10px;

        height: 100%;
        display: flex;
        flex-direction: column;

        flex-shrink: 0;
    }

    .column-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
        color: #4a2f1a;
    }

    .postits-container {
        min-height: 0;
        flex: 1;
        overflow-y: auto;

        scrollbar-gutter: stable;

        display: flex;
        flex-direction: column;

        align-items: stretch;
        gap: 8px;

        padding-right: 4px;
        scrollbar-color: #c69c6d papayawhip;
    }

    .postit {
        width: 100%;
        box-sizing: border-box;

        flex-shrink: 0;

        min-height: 100px;
        padding: 10px;
        font-size: 14px;
        cursor: grab;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
        position: relative;
        user-select: none;
        overflow: visible;

        word-wrap: break-word;
        overflow-wrap: break-word;

        transition: box-shadow 0.15s ease, opacity 0.15s ease;
        background-color: papayawhip;
        color: black;



        &:active {
            cursor: grabbing;
        }

        &.dragging {
            opacity: 0.45;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.4);
        }

        &.yellow {
            background: #fff9a6;
        }

        &.green {
            background: #caffbf;
        }

        &.pink {
            background: #ffadad;
        }
    }

    .avatar-contenedor {
        border-radius: 50%;
        display: inline-block;
        padding: 2px;
    }

    .creador {
        border: 3px solid #0d6efd;
    }

    .contribuidor {
        border: 3px solid #198754;
    }

    .espectador {
        border: 3px solid #6c757d;
    }

    .calendario-bloqueado {
        pointer-events: none;
        opacity: 0.8;
    }

    .largoNombreTarea {
        width: 65%;
    }

    .avatar-extra {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #495057;
        border: 2px solid #adb5bd;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        font-weight: bold;
    }
</style>

@if(miTablero){
<div class="w-100 bg-black p-3 d-flex">
    <h5 class="text-white mb-0">{{miTablero.titulo}} by {{miTablero.aliasCreador}}</h5>
    @if(esEspectador){
    <small class="text-warning ms-2">• Modo Espectador</small>
    }
    <div class="ms-auto d-flex align-items-center gap-2">
        @if(miTablero.aliasCreador === aliasLogueado){
        <span class="text-white ms-auto" data-bs-toggle="modal" data-bs-target="#agregarColaborador" type="button"
            (click)="abrirModalAgregar()">[+]</span>
        }

        @for(colaborador of colaboradoresTablero.slice(0,maxColaboradoresVisibles); track colaborador.aliasUsuario){

        <div class="avatar-contenedor dropdown" [ngClass]="{'creador': colaborador.tipoRelacion === 0, 'contribuidor': colaborador.tipoRelacion === 1, 
            'espectador': colaborador.tipoRelacion === 2 }">
            <img [src]="rutaImagenes + colaborador.imagen" [alt]="colaborador.aliasUsuario"
                [title]="colaborador.aliasUsuario + ' - ' + getRol(colaborador.tipoRelacion)" type="button"
                (click)="abrirMenuUsuario(colaborador)" class="rounded-circle dropdown-toggle" width="32" height="32"
                data-bs-toggle="dropdown" data-bs-target="#menuUsuario">

            <div class="dropdown-menu" style="position: fixed;" id="menuUsuario">
                <li><button class="dropdown-item" (click)="verPerfil(usuarioSeleccionado!.aliasUsuario)">Ver
                        Perfil</button></li>
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#agregarColaborador"
                        type="button" (click)="abrirModalEditar()">Cambiar permisos</button></li>
                <li><button class="dropdown-item text-danger" type="button" (click)="eliminarMiembro()">Quitar del
                        tablero</button></li>
            </div>

        </div>

        }
        @if(colaboradoresTablero.length > maxColaboradoresVisibles){
        <div class="avatar-extra"
            [title]="(colaboradoresTablero.length - maxColaboradoresVisibles) + ' colaboradores más'">
            +{{colaboradoresTablero.length - maxColaboradoresVisibles}}
        </div>
        }
    </div>
</div>
}@else{
    <div class="w-100 bg-black p-3 text-center">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
}
<div class="board-wrapper">
    <div class="board">
        <div class="row columns-row">
            @for (col of columnas; track col.id){
            <div class="col-md-3 column" #columnRef (dragover)="onDragOver($event, postitsContainer)"
                (drop)="onDrop($event, col.id)">
                <h5 class="column-title" type="button" id="0" [style.cursor]="esEspectador ? 'default' : 'pointer'"
                    (click)="crearTarea(col.id)">+ {{col.titulo}}</h5>

                <div class="postits-container" #postitsContainer>
                    @for (tarea of col.tareas; track tarea.idTarea) {
                    <div class="postit mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#post-it-info"
                        aria-controls="post-it-info" [draggable]="!esEspectador"
                        (dragstart)="!esEspectador && onDragStart($event, tarea.idTarea)"
                        (dragend)="!esEspectador && onDragEnd($event)" (click)="seleccionarTarea(tarea)"
                        [style.cursor]="esEspectador ? 'pointer' : 'grab'">
                        @if (tarea.asignaciones && tarea.asignaciones.length > 0) {
                        <div class="mb-4">
                            <div class="postit-usuarios">
                                @for(asignado of colaboradoresTablero; track asignado.aliasUsuario){
                                    
                                    <!-- 1. Validamos si el alias de este colaborador está incluido en las asignaciones de la tarea -->
                                    @if (tarea.asignaciones.includes(asignado.aliasUsuario)) {
                                        <div class="avatar-contenedor" [ngClass]="{
                                            'creador': asignado.tipoRelacion === 0, 
                                            'contribuidor': asignado.tipoRelacion === 1, 
                                            'espectador': asignado.tipoRelacion === 2 
                                        }">
                                            <img [src]="rutaImagenes + asignado.imagen" [alt]="asignado.aliasUsuario"
                                                [title]="asignado.aliasUsuario + ' - ' + getRol(asignado.tipoRelacion)"
                                                class="rounded-circle " width="32" height="32">
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                        }
                        <p class="fw-bold float-start largoNombreTarea">{{tarea.nombre}}</p>

                        <div>
                            @if (tarea.prioridad === 1) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-danger" style="font-size: 9px; font-weight: bold;">
                                    Prioridad Alta</div>
                            </div>
                            }
                            @if (tarea.prioridad === 2) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-warning"
                                    style="font-size: 9px; font-weight: bold;">Prioridad Media</div>
                            </div>
                            }
                            @if (tarea.prioridad === 3) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-success"
                                    style="font-size: 9px; font-weight: bold;">Prioridad Baja</div>
                            </div>
                            }
                            @if (tarea.prioridad === 4) {
                            <div class="d-flex float-end">
                                <div class="mt-auto p-2 rounded-5 bg-primary"
                                    style="font-size: 9px; font-weight: bold;">Prioridad Mínima</div>
                            </div>
                            }
                        </div>

                        <br style="clear: both;">

                        <p>{{tarea.descripcion}}</p>

                        <div class="d-flex mt-2">
                            <span class="ms-auto" style="font-size: 12px;"
                                [ngClass]="obtenerClaseVencimiento(tarea.fechaFinal)">
                                {{ obtenerTextoVencimiento(tarea.fechaFinal) }}
                            </span>
                        </div>

                    </div>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="post-it-info" aria-labelledby="[id Tarea]"
    style="--bs-offcanvas-width: 600px;">
    <form [formGroup]="formularioTarea">
        <div class="offcanvas-header">
            <input type="text" formControlName="nombre" [readOnly]="esEspectador" class="form-control form-control-lg"
                [class.is-invalid]="formularioTarea.get('nombre')?.invalid && formularioTarea.get('nombre')?.touched">
            @if(formularioTarea.get('nombre')?.invalid && formularioTarea.get('nombre')?.touched){
            <div class="invalid-feedback">
                @if(formularioTarea.get('nombre')?.errors?.['required']) {
                El nombre de la tarea es obligatorio.
                }
                @if(formularioTarea.get('nombre')?.errors?.['maxlength']) {
                Máximo de caracteres debe ser de 50.
                }
            </div>
            }
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
                id="btnCerrarOffcanvas"></button>
        </div>
        <hr class="m-0">

        <div class="offcanvas-body">
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion:</label>
                <textarea class="form-control" rows="5" [readOnly]="esEspectador" formControlName="descripcion"
                    [class.is-invalid]="formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched"></textarea>
                @if(formularioTarea.get('descripcion')?.invalid && formularioTarea.get('descripcion')?.touched){
                <div class="invalid-feedback">
                    @if(formularioTarea.get('descripcion')?.errors?.['maxlength']) {
                    Máximo de caracteres debe ser de 300.
                    }
                </div>
                }
            </div>

            <div class="float-start">
                <p>Prioridad: ({{this.formularioTarea.value.prioridad}})</p>
                <div class="btn-group" [class.pe-none]="esEspectador" role="group"
                    aria-label="Basic mixed styles example">
                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio1"
                        value="1" autocomplete="off">
                    <label class="btn btn-danger" for="btnradio1">1</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio2"
                        value="2" autocomplete="off">
                    <label class="btn btn-warning" for="btnradio2">2</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio3"
                        value="3" autocomplete="off">
                    <label class="btn btn-success" for="btnradio3">3</label>

                    <input type="radio" class="btn-check" formControlName="prioridad" name="prioridad" id="btnradio4"
                        value="4" autocomplete="off">
                    <label class="btn btn-primary" for="btnradio4">4</label>

                </div>
                <div class="mt-5">
                    <p class="mb-4">Miembros del tablero:</p>
                    @for(asignado of colaboradoresTablero; track asignado.aliasUsuario){

                    <div class="avatar-contenedor dropdown"
                        [ngClass]="{'creador': asignado.tipoRelacion === 0, 'contribuidor': asignado.tipoRelacion === 1, 'espectador': asignado.tipoRelacion === 2 }">
                        <img [src]="rutaImagenes + asignado.imagen" [alt]="asignado.aliasUsuario"
                            [title]="asignado.aliasUsuario + ' - ' + getRol(asignado.tipoRelacion)" type="button"
                            (click)="abrirMenuAsignacion(asignado)" class="rounded-circle dropdown-toggle" width="32"
                            height="32" data-bs-toggle="dropdown" data-bs-target="#menuUsuario">

                        <div class="dropdown-menu" style="position: fixed;" id="menuUsuario">
                            <li><button class="dropdown-item" (click)="verPerfil(usuarioSeleccionado!.aliasUsuario)">Ver
                                    Perfil</button></li>
                            <li><button class="dropdown-item" type="button"
                                    (click)="postAsignacion(usuarioSeleccionado!.aliasUsuario)">Asignar a la
                                    tarea</button></li>
                            <li><button class="dropdown-item text-danger" type="button"
                                    (click)="deleteAsignacion(usuarioSeleccionado!.aliasUsuario)">Quitar asignacion</button></li>
                        </div>

                    </div>

                    }
                </div>
            </div>

            <div class="float-end me-5" [class.calendario-bloqueado]="esEspectador">
                <p>Rango Fecha:</p>
                <input type="text" id="calendario-siempre-abierto" name="calendario" class="form-control me-5"
                    placeholder="Selecciona una fecha">
            </div>

            <br style="clear: both;">
        </div>

        @if(!esEspectador){
        <div class="p-3 border-top">
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-danger w-100" (click)="confirmarBorrarTarea()">Borrar
                        Tarea</button>
                </div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary w-100" [disabled]="this.formularioTarea.invalid"
                        (click)="guardarCambiosTarea()">Guardar</button>
                </div>
            </div>
        </div>
        }
    </form>
</div>

<div class="modal fade" id="agregarColaborador" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @if(modoModal === 'agregar'){
                    Agregar Colaborador/Espectador
                    } @else {
                    Modificar Permisos
                    }
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="btnCerrarModal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formularioMiembro">
                    <div class="mb-3">
                        <label for="aliasUsuario" class="form-label">Alias</label>
                        <input type="text" class="form-control" [readOnly]="modoModal === 'editar'"
                            formControlName="aliasUsuario" [class.is-invalid]="formularioMiembro.get('aliasUsuario')?.invalid 
                        && formularioMiembro.get('aliasUsuario')?.touched">
                        @if(formularioMiembro.get('aliasUsuario')?.invalid &&
                        formularioMiembro.get('aliasUsuario')?.touched){
                        <div class="invalid-feedback">
                            @if(formularioMiembro.get('aliasUsuario')?.errors?.['required']) {
                            Necesitas el Alias para agregar un Colaborador/Espectador.
                            }
                            @if(formularioMiembro.get('aliasUsuario')?.errors?.['maxlength']) {
                            Los Alias no pueden ser de mas de 50 caracteres.
                            }
                        </div>
                        }
                    </div>
                    <div class="mb-3">
                        <label for="tipoRelacion">Permiso</label>
                        <select class="form-select" formControlName="tipoRelacion">
                            <option value="1">
                                Contribuidor
                            </option>
                            <option value="2">
                                Espectador
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button class="btn btn-primary" [disabled]="formularioMiembro.invalid"
                    (click)="modoModal === 'agregar' ? agregarColaborador() : modificarPermisos()">
                    {{ modoModal === 'agregar' ? 'Agregar' : 'Guardar cambios'}}</button>
            </div>
        </div>
    </div>

</div>